/*http://stackoverflow.com/questions/18389307/breadcrumb-not-appearing-due-to-the-navbar-fixed-at-top*/
body {
	padding-top:60px;
}

.input-group {
	/*margin: 10px;*/
}

.control-label {
	font-weight: normal;
	text-align: right;
	/*vertical-align:middle;*/
	line-height: 30px;
	/*margin: 10px;*/
}

.venue-preview-category {
	color: #696969;
	margin-top: -10px;
}

#event-text {
	height: auto;
	margin-bottom: 5px;
}