{% import 'macros/element.twig' as elementMacros %}
{# {% import 'macros/table.twig' as tableMacros %} #}

<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div class="box-content">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>TITLE</th>
							<th>CITY</th>
						</tr>
					</thead>
					<tbody>
						{% for item in tableData %}
							<tr>
								<td class="m-ticker"><b>{{ item.title }}</b><span>Edit | Delete</span></td>
								<td>{{ item.place.name }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>